/* This is a normalizer. I want to use a nicer, bigger, and more comprehensive one. */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* This is the container for the whole todo app itself. */
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, hsl(288, 84%, 20%));
    padding: 10px;
}
/* The second layer of the onion. This is inside the container layer. */
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
/* This is the h2... which should be an h1 */
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
/* The image next to the header. */
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
/* The way that the rows show up. This also affects the ul and li as a container. I think. */
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
/* This is for the little bar where you INPUT.. get it? */
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
/* This is the button right next to it. I think that if this is in a box together, I should put it in one so that the flext won't be needed so many times. */
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
/* Ok, so this is the row entries that are already made. */
ul li{
    list-style: none;
    font-size: 17px;
    position: relative;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}
/* This is for the pseudo element which I'd like to faff about with a bit more. But this is right before the row that was typed in. */
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
/* This is for the ckeckmark status. Checked? */
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
/* This is part two of the checkmark status.The "resting" image is of the enpty circle and that's in the html. */
ul li.checked::before{
    background-image: url(../images/checked.png);
}
/* I think this is for the x at the end of the row that allows for users to delete the info. */
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
/* Part two of the little x at the end of a row. */
ul li span:hover{
    background: #edeef0;
}